* {
  font-family: Helvetica;
}

#title {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('../images/pattern.jpeg');
}
.subtitle {
  Font-size: 32px;
  font-weight: bold;
  color: white;
}

#mediumspringgreen {
  background-color: mediumspringgreen;
}
#lightcoral {
  background-color: lightcoral;
}
#skyblue {
  background-color: skyblue;
}
.blue {
  color: blue;
}
